<section class="bg-white-false marg-0" color="light" id="top-sec" style="background-color: #f6f6f6;">
        <div class="container-fluid pad-none">
            <div class="row">
                <div class="col-4 col-lg-4 pad-none">
                    <hr class="brun_font hryacht hr-1200">
                    <div class="ez marg-120l">
                        <h3 class="section-title">about</h3>
                        <h1 class="we">We are</h1>
                        <h1 class="Prestigiousyacht">Prestigious <br> Yachting</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-8 mx-auto">
                    <div class="text-info2  text-info-t">
                        <h5 class="subtitle_info ">Live your dream on the Mediterranean Sea.</h5>
                        <p class="paragraph_info">The world is at your fingertips, yachting makes its discovery unique
                            and prestigious.</p>
                        <p class="paragraph_info">Each boat is a jewel and for each occasion you will need your perfect
                            yacht.</p>
                        <p class="paragraph_info">We know how to make your dreams come true and we will accompany you on
                            all seas and oceans. From instant bookings to charter, as well as purchase and management
                            services, we are dedicated to offering «Haute Couture» yachting services, both exclusive and
                            personalised.</p><span id="btn-cta2"><a class="btn-draw learn-more-home"
                                href="/about"><span>Learn more</span></a></span>
                    </div>
                </div>
            </div>
        </div>
</section>