<footer class="container-fluid no-padding" id="myFooter">
    <div class="container-fluid">
        <div class="footer-back">
            <div class="row marg-t-20">
                <div class="col-sm-6">
                    <div style="color: white;"><span class="title"><span class="firstletter">P</span><span
                                class="title">RESTIGIOUS</span><span class="firstletter">
                                Y</span><span class="title">ACHTING</span></span></div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row marg-t-20">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row" style="text-align:left; color: white;">
                        <div class="col-12 col-sm-6 no-padding">
                            <p class="info_footer" style="padding-left: 0;"><span class="info_footer">19 Avenue Denis
                                    Semeria</span><br> 06230 Saint-Jean-Cap-Ferrat<br> France
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 no-padding">
                            <p class="info_footer"><span class="info_footer"><a href="tel:+33493378608">+33 (0)4 93 37
                                        86 08</a></span><br><a class="info_footer mailto"
                                    href="mailto:charter@prestigiousyachting.com">charter@prestigiousyachting.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row marg-t-20">
                <div class="col-sm-12">
                    <form class="form-horizontal ng-untouched ng-pristine ng-invalid" novalidate="">
                        <div class="input-group g-subscribe"><input aria-describedby="basic-addon2"
                                aria-label="Type your first and last name here"
                                class="form-control form-control-lg newsletters col-12 col-sm-6 col-lg-8 ng-untouched ng-pristine ng-invalid"
                                name="lastname" placeholder="Type your first and last name here" required=""
                                type="email">
                            <div class="mobileNewsletter"></div><input aria-describedby="basic-addon2"
                                aria-label="Type your email here"
                                class="form-control form-control-lg newsletters col-12 col-sm-6 col-lg-8 ng-untouched ng-pristine ng-valid"
                                name="email" placeholder="Type your email here" type="email">
                            <div class="mobileNewsletter"></div>
                            <div class="input-group-append col-12 col-sm-6 col-lg-4 group-btn-sub newsletterButton">
                                <button class="btn backbrun btn-sub" type="submit" disabled="">Subscribe to our
                                    newsletter &nbsp;<i class="icon-chev-right-white"></i></button>
                            </div>
                        </div>
                        <!---->
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-12 col-sm-6">
                    <div class="marg-t-20"><img class="img-fluid mobile-logo-secu"
                            src="./assets/img/icon/secure_payement.svg">
                        &nbsp;&nbsp;&nbsp;&nbsp; <img class="img-fluid mobile-logo-secu"
                            src="./assets/img/icon/powered_by_stripe.svg"></div>
                    <hr>
                    <h2 class="logo cgv"><a class="cgv" style="cursor: pointer; margin-bottom: 5px;">Terms &amp;
                            Conditions </a></h2>
                    <h2 class="logo cgv"><a class="cgv" style="cursor: pointer; margin-bottom: 5px;">Legal notice </a>
                    </h2>
                </div>
                <div class=" col-12 col-sm-6">
                    <div class="social-networks text-right"><a class="link"
                            href="https://www.facebook.com/PrestigiousYachting-327897434590004" target="_blank"><span
                                class="icon fab fa-facebook">Facebook</span></a><a class="link"
                            href="https://www.instagram.com/prestigiousyachting/" target="_blank"><span
                                class="icon fab fa-instagram">Instagram</span></a><a class="link"
                            href="https://www.linkedin.com/company/14029856/" target="_blank"><span
                                class="icon fab fa-linkedin-in">Linkedin</span></a></div>
                </div>
                <div class=" col-12 col-sm-12">
                    <div class="footer-copyright">
                        <p class="footer-copyright white-font">© Prestigious Yachting, All rights
                            reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>