<nav class="navbar navbar-expand-lg navbar-light bgcolor">
    <div>
        <a class="nav-link" href="#"><img id="logo" src="./assets/img/logo_head.png" alt="logo"></a>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item" id="loginButton">
            <a class="nav-link"  href="#">Login</a>
          </li>
      </ul>
    </div>
  </nav>