/* .backgroundHeader{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}
.backgroundHeader>img{
    vertical-align: middle;
    border-style: none;
    width: 100%;
} */

header{
    position: relative;
    background-color: #0f2338;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0f2338;
    opacity: 0.5;
    z-index: 1;
}
.headerContainer{
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;

}
.title-pose-e{
    padding-top: 13.5rem;
}

h1{
    font-family: Raleway;
    font-size: 3.125rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 12.5px;
    color: white;
    margin-bottom: 0.5rem;
    margin-bottom: 0;
}
h2{
    font-family: Raleway;
    font-size: 1.563rem;
    font-weight: 500;
    letter-spacing: 6.3px;
    color: white;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
h3{
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 10.8px;
    color: white;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
h1,h2,h3{
    text-align: center;  
}

.nav-tabs{
    border-bottom: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 789px;
    padding-left: 1px;
    padding-top: 5.125em;
}

.nav-tabs li{
    background-color: rgba(255, 255, 255, 0.47);
    color: #0f3c6a !important;
    font-family: PlayfairDisplay;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.26);
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs>li>a{
    border: none;
    padding: 28px;
    color: #0f3c6a !important;
}
.info1{
    display: inline-block;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
}
.info2{
    display: inline-block;
    font-family: PlayfairDisplay;
    font-size: 1.25rem;
    font-weight: bold;
}
#searchButton
{
    padding: 20px;
    background-color: #bbaa9e;
    color: white !important;
    font-family: PlayfairDisplay;
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: 10px;
    white-space: nowrap;
}
#searchButton a {
    color: white !important;
}


/* .headerContent{
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
} */

