<app-navbar></app-navbar>
<header>
    <img alt="photo yacht home page" src="./assets/img/illustration/01_HEADERS/cover_C.jpg">
    <div class="overlay"></div>
    <div class="headerContainer">
        <div class="title-pose-e"></div>
        <div class="d-flex text-center align-items-center">
            <div class="w-100 text-white">
                <h1>PRESTIGIOUS YACHTING</h1>
                <h2>BESPOKE YACHTING EXPERIENCES</h2>
                <h3>FRENCH RIVIERA</h3>
            </div>
        </div>
        <div>
            <ul class="nav nav-tabs text-center row">
                <li
                    class="nav-item btn-filtre d-none d-sm-none d-md-block d-lg-block col-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="nav-link">
                        <div class="text-center">
                            <span class="info1">
                                Date
                            </span>
                            <br>
                            <span class="info2">
                                View any
                            </span>
                        </div>
                    </a>
                </li>
                <li class="nav-item btn-filtre d-none d-sm-none d-md-block d-lg-block col-12 col-sm-12 col-md-4 col-lg-4">
                    <a aria-selected="false" class="nav-link">
                        <div class="text-center">
                            <span class="info1">
                                Itinerary
                            </span>
                            <br>
                            <span class="info2">
                                View any
                            </span>
                        </div>
                    </a>
                </li>
                <li id="searchButton" class="nav-item btn-filtre btn-filtre-valid col-12 col-sm-12 col-md-4 col-lg-4">
                    <a class="nav-link" href="/booking">
                        Search yachts to rent
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>