<section class="bg-white marg-0" color="light" id="destination-home">
    <div class="container-fluid pad-none" style="background-color: white;">
        <div class="d-none d-sm-none  d-md-none d-lg-block">
            <div class="row section-info-height">
                <div class="col-5 col-md-5 col-lg-5 col-xl-4 mx-auto pad-none"><img
                        alt="image illustration Destinations nice" class="img-fluid picture_legend to-left"
                        src="./assets/img/illustration/03_HOMEPAGE/Destinations_C.jpg"></div>
                <div class="col-7 col-md-7 col-lg-7 col-xl-8 mx-auto" >
                    <h3 class="big_title">Destinations</h3>
                    <h4 class="tagline">Discover our sublime yachting destinations.</h4>
                    <div class="text-info2">
                        <h5 class="subtitle_info">The Riviera as you have never seen it before.</h5>
                        <p class="paragraph_info">From Menton to St tropez, the Mediterranean offers you the most
                            beautiful shimmering colours - from turquoise to deep sea blue. Offering us its spangle and
                            glamour from Monaco to Cannes, and all the way to St tropez, not forgetting the spectacular
                            landscapes of St Jean Cap Ferrat, the Bay of Villefranche-Sur-Mer… up to Esterel. Embark on
                            your yachts and discover the hidden facets of the glowing diamond that French Riviera is.
                        </p><span id="btn-cta2"><a class="btn-draw" href="/destinations"><span>Learn
                                    more</span></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-sm-block d-md-block d-lg-none">
            <div class="row no-gutters">
                <div class="col-4 col-sm-4 col-md-4 mx-auto"><img alt="image illustration Destinations nice"
                        class="img-fluid picture_legend" src="./assets/img/illustration/03_HOMEPAGE/Destinations_C.jpg">
                </div>
                <div class="col-8 col-sm-8 col-md-8 mx-auto">
                    <h3 class="big_title">Destinations</h3>
                    <h4 class="tagline">Discover our sublime yachting destinations.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="text-info2">
                        <h5 class="subtitle_info">The Riviera as you have never seen it before.</h5>
                        <p class="paragraph_info">From Menton to St tropez, the Mediterranean offers you the most
                            beautiful shimmering colours - from turquoise to deep sea blue. Offering us its spangle and
                            glamour from Monaco to Cannes, and all the way to St tropez, not forgetting the spectacular
                            landscapes of St Jean Cap Ferrat, the Bay of Villefranche-Sur-Mer… up to Esterel. Embark on
                            your yachts and discover the hidden facets of the glowing diamond that French Riviera is.
                        </p><span id="btn-cta2"><a class="btn-draw" href="/destinations"><span>Learn
                                    more</span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>