<section class="bg-white-false marg-0" id="book_yacht" style="background-color: #f6f6f6;">
    <div class="container-fluid pad-none">
        <div class="row">
            <div class="col-12 col-md-4 pad-none">
                <hr class="brun_font hryacht hr-1200">
                <div class="ez marg-120l">
                    <h3 class="section-title">Booking</h3>
                    <h1 class="we">Rent</h1>
                    <h1 class="Prestigiousyacht text-mobilebook">a yacht</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container  no-pad-sm">
        <div class="d-block d-sm-block d-md-block d-lg-none">
            <div class="row">
                <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper"
                        style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <!---->
                        <div class="swiper-slide ng-star-inserted swiper-slide-active"
                            style="width: 720px; margin-right: 500px;">
                            <div _ngcontent-cgl-c3="" id="yacht_elem">
                                <div _ngcontent-cgl-c3="" class="card mb-4 shadow-sm size-elem-boat border-color-bleu">
                                    <a _ngcontent-cgl-c3="" href="/yacht/a012p00001Dte4vAAB">
                                        <div _ngcontent-cgl-c3="" class="div-picture">
                                            <div _ngcontent-cgl-c3="" class="overlay">
                                                <h5 _ngcontent-cgl-c3="" class="color-white">See details</h5>
                                                <p _ngcontent-cgl-c3="">Boat info &amp; Online booking</p>
                                            </div><img _ngcontent-cgl-c3="" class="card-img-top img_boat"
                                                alt="photo yacht Royal 1"
                                                src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/daad2185-a624-1572-a5c3-7e23701c2310">
                                            <!---->
                                        </div>
                                    </a>
                                    <div _ngcontent-cgl-c3="" class="card-body">
                                        <h5 _ngcontent-cgl-c3="" class="card-title text-center title">Royal 1</h5>
                                        <p _ngcontent-cgl-c3="" class="card-text text-center price_day">€ 2,500.8 /
                                            day</p>
                                        <p _ngcontent-cgl-c3="" class="text-center apa">(excl. delivery &amp; APA)
                                        </p>
                                        <div _ngcontent-cgl-c3="" class="row footer">
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-length brun_font metter"></i>12m</span></div>
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-buddys brun_font buddy-fo"></i>10 guests</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ng-star-inserted swiper-slide-next"
                            style="width: 720px; margin-right: 500px;">
                            <div _ngcontent-cgl-c3="" id="yacht_elem">
                                <div _ngcontent-cgl-c3="" class="card mb-4 shadow-sm size-elem-boat border-color-bleu">
                                    <a _ngcontent-cgl-c3="" href="/yacht/a012p00001GoRtqAAF">
                                        <div _ngcontent-cgl-c3="" class="div-picture">
                                            <div _ngcontent-cgl-c3="" class="overlay">
                                                <h5 _ngcontent-cgl-c3="" class="color-white">See details</h5>
                                                <p _ngcontent-cgl-c3="">Boat info &amp; Online booking</p>
                                            </div><img _ngcontent-cgl-c3="" class="card-img-top img_boat"
                                                alt="photo yacht Love"
                                                src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/db09efb0-33ab-26aa-6a21-733f8bb14c39">
                                            <!---->
                                        </div>
                                    </a>
                                    <div _ngcontent-cgl-c3="" class="card-body">
                                        <h5 _ngcontent-cgl-c3="" class="card-title text-center title">Love</h5>
                                        <p _ngcontent-cgl-c3="" class="card-text text-center price_day">€ 1,850 /
                                            day</p>
                                        <p _ngcontent-cgl-c3="" class="text-center apa">(excl. delivery &amp; APA)
                                        </p>
                                        <div _ngcontent-cgl-c3="" class="row footer">
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-length brun_font metter"></i>10.56m</span></div>
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-buddys brun_font buddy-fo"></i>9 guests</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ng-star-inserted" style="width: 720px; margin-right: 500px;">
                            <div _ngcontent-cgl-c3="" id="yacht_elem">
                                <div _ngcontent-cgl-c3="" class="card mb-4 shadow-sm size-elem-boat border-color-bleu">
                                    <a _ngcontent-cgl-c3="" href="/yacht/a012p00001GoRtwAAF">
                                        <div _ngcontent-cgl-c3="" class="div-picture">
                                            <div _ngcontent-cgl-c3="" class="overlay">
                                                <h5 _ngcontent-cgl-c3="" class="color-white">See details</h5>
                                                <p _ngcontent-cgl-c3="">Boat info &amp; Online booking</p>
                                            </div><img _ngcontent-cgl-c3="" class="card-img-top img_boat"
                                                alt="photo yacht Why not"
                                                src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/928bc200-cbf6-c62f-5eb6-711d8ad30908">
                                            <!---->
                                        </div>
                                    </a>
                                    <div _ngcontent-cgl-c3="" class="card-body">
                                        <h5 _ngcontent-cgl-c3="" class="card-title text-center title">Why not</h5>
                                        <p _ngcontent-cgl-c3="" class="card-text text-center price_day">€ 3,960 /
                                            day</p>
                                        <p _ngcontent-cgl-c3="" class="text-center apa">(excl. delivery &amp; APA)
                                        </p>
                                        <div _ngcontent-cgl-c3="" class="row footer">
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-length brun_font metter"></i>16.51m</span></div>
                                            <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info">
                                                <span _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                        class="icon-buddys brun_font buddy-fo"></i>10 guests</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                            aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
                            role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet"
                            tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button"
                        aria-label="Previous slide" aria-disabled="true"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                        aria-disabled="false"></div><span class="swiper-notification" aria-live="assertive"
                        aria-atomic="true"></span>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-none  d-md-none d-lg-block">
            <div class="row">
                <!---->
                <div *ngFor='let yacht of yachts' class="col-md-4 col-lg-4 marg-00 marg-b-60 no-pad-sm ng-star-inserted" style="margin-bottom: 50px;">
                    <div _ngcontent-cgl-c3="" id="yacht_elem">
                        <div _ngcontent-cgl-c3="" class="card mb-4 shadow-sm size-elem-boat border-color-bleu"><a
                                _ngcontent-cgl-c3="" href="/yacht/a012p00001Dte4vAAB">
                                <div _ngcontent-cgl-c3="" class="div-picture">
                                    <div _ngcontent-cgl-c3="" class="overlay">
                                        <h5 _ngcontent-cgl-c3="" class="color-white">See details</h5>
                                        <p _ngcontent-cgl-c3="">Boat info &amp; Online booking</p>
                                    </div><img _ngcontent-cgl-c3="" class="card-img-top img_boat"
                                        alt="photo yacht {{yacht.name}}"
                                        [src]="yacht.picture">
                                    <!---->
                                </div>
                            </a>
                            <div _ngcontent-cgl-c3="" class="card-body">
                                <h5 _ngcontent-cgl-c3="" class="card-title text-center title">{{yacht.name}}</h5>
                                <p _ngcontent-cgl-c3="" class="card-text text-center price_day"> {{yacht.price | currency:' € ':'symbol':'3.0'}} / day</p>
                                <p _ngcontent-cgl-c3="" class="text-center apa">(excl. delivery &amp; APA)</p>
                                <div _ngcontent-cgl-c3="" class="row footer">
                                    <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info"><span
                                            _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                class="icon-length brun_font metter"></i>{{yacht.length}}m</span></div>
                                    <div _ngcontent-cgl-c3="" class="col-6 border-color-bleu info footer-info"><span
                                            _ngcontent-cgl-c3=""><i _ngcontent-cgl-c3=""
                                                class="icon-buddys brun_font buddy-fo"></i>{{yacht.guest}} guests</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mx-auto" style="margin-top: 32px;"><span class="center-elem" id="btn-cta2"><a
                    class="btn-draw" href="/booking"><span>See all yachts for rent</span></a></span></div>
    </div>
</section>