<section class="bg-white-false marg-0 ng-star-inserted" id="buy_yacht" style="margin-top: 200px; background-color: #f6f6f6;">
    <div class="container-fluid pad-none">
        <div class="row">
            <div class="col-4 mx-auto pad-none">
                <hr class="brun_font hryacht hr-1200">
                <div class="ez  marg-120l">
                    <h3 class="section-title">Purchase</h3>
                    <h1 class="we">Buy</h1>
                    <h1 class="Prestigiousyacht">a yacht</h1>
                </div>
            </div>
            <div class="col-8"></div>
        </div>
    </div>
    <div class="container  no-pad-sm">
        <div class="d-block d-sm-block d-md-block d-lg-none">
            <div class="row">
                <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper"
                        style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <!---->
                        <div class="swiper-slide ng-star-inserted swiper-slide-active"
                            style="width: 720px; margin-right: 500px;">
                                <div _ngcontent-cgl-c4="" id="yacht_elem">
                                    <div _ngcontent-cgl-c4=""
                                        class="card mb-4 shadow-sm size-elem-boat border-color-or"><a
                                            _ngcontent-cgl-c4="" href="/yachtpurchase/a012p00001HDh09AAD">
                                            <div _ngcontent-cgl-c4="" class="div-picture">
                                                <div _ngcontent-cgl-c4="" class="overlay">
                                                    <h5 _ngcontent-cgl-c4="" class="color-white">See details</h5>
                                                </div><img _ngcontent-cgl-c4="" class="card-img-top img_boat"
                                                    height="319" width="100%" alt="photo yacht Umbria 3"
                                                    src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/a2f2a9da-ba89-63f1-3b19-c3194485fc59">
                                            </div>
                                        </a>
                                        <div _ngcontent-cgl-c4="" class="card-body">
                                            <h5 _ngcontent-cgl-c4="" class="card-title text-center title">Umbria 3</h5>
                                            <p _ngcontent-cgl-c4="" class="card-text text-center price">€ 360,000</p>
                                            <div _ngcontent-cgl-c4="" class="row footer">
                                                <div _ngcontent-cgl-c4=""
                                                    class="col-6 border-color-or info footer-info"><span
                                                        _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                            class="icon-length brun_font"></i> 17m</span></div>
                                                <div _ngcontent-cgl-c4=""
                                                    class="col-6 border-color-or info footer-info"><span
                                                        _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                            class="icon-calandar brun_font buddy-fo"></i> 2017 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="swiper-slide ng-star-inserted swiper-slide-next"
                            style="width: 720px; margin-right: 500px;">
                                <div _ngcontent-cgl-c4="" id="yacht_elem">
                                    <div _ngcontent-cgl-c4=""
                                        class="card mb-4 shadow-sm size-elem-boat border-color-or"><a
                                            _ngcontent-cgl-c4="" href="/yachtpurchase/a012p00001HDhY9AAL">
                                            <div _ngcontent-cgl-c4="" class="div-picture">
                                                <div _ngcontent-cgl-c4="" class="overlay">
                                                    <h5 _ngcontent-cgl-c4="" class="color-white">See details</h5>
                                                </div><img _ngcontent-cgl-c4="" class="card-img-top img_boat"
                                                    height="319" width="100%" alt="photo yacht Ace 1"
                                                    src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/190af8be-130d-f843-2c5e-5bf78605437d">
                                            </div>
                                        </a>
                                        <div _ngcontent-cgl-c4="" class="card-body">
                                            <h5 _ngcontent-cgl-c4="" class="card-title text-center title">Ace 1</h5>
                                            <p _ngcontent-cgl-c4="" class="card-text text-center price">€ 1,200,000</p>
                                            <div _ngcontent-cgl-c4="" class="row footer">
                                                <div _ngcontent-cgl-c4=""
                                                    class="col-6 border-color-or info footer-info"><span
                                                        _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                            class="icon-length brun_font"></i> 26m</span></div>
                                                <div _ngcontent-cgl-c4=""
                                                    class="col-6 border-color-or info footer-info"><span
                                                        _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                            class="icon-calandar brun_font buddy-fo"></i> 2006 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                            aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
                            role="button" aria-label="Go to slide 2"></span></div>
                    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button"
                        aria-label="Previous slide" aria-disabled="true"></div>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                        aria-disabled="false"></div><span class="swiper-notification" aria-live="assertive"
                        aria-atomic="true"></span>
                </div>
            </div>
        </div>
        <div class="d-none d-sm-none  d-md-none d-lg-block">
            <div class="row">
                <!---->
                <div class="col-md-4 col-lg-4 marg-00 marg-b-60 ng-star-inserted">
                        <div _ngcontent-cgl-c4="" id="yacht_elem">
                            <div _ngcontent-cgl-c4="" class="card mb-4 shadow-sm size-elem-boat border-color-or"><a
                                    _ngcontent-cgl-c4="" href="/yachtpurchase/a012p00001HDh09AAD">
                                    <div _ngcontent-cgl-c4="" class="div-picture">
                                        <div _ngcontent-cgl-c4="" class="overlay">
                                            <h5 _ngcontent-cgl-c4="" class="color-white">See details</h5>
                                        </div><img _ngcontent-cgl-c4="" class="card-img-top img_boat" height="319"
                                            width="100%" alt="photo yacht Umbria 3"
                                            src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/a2f2a9da-ba89-63f1-3b19-c3194485fc59">
                                    </div>
                                </a>
                                <div _ngcontent-cgl-c4="" class="card-body">
                                    <h5 _ngcontent-cgl-c4="" class="card-title text-center title">Umbria 3</h5>
                                    <p _ngcontent-cgl-c4="" class="card-text text-center price">€ 360,000</p>
                                    <div _ngcontent-cgl-c4="" class="row footer">
                                        <div _ngcontent-cgl-c4="" class="col-6 border-color-or info footer-info"><span
                                                _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                    class="icon-length brun_font"></i> 17m</span></div>
                                        <div _ngcontent-cgl-c4="" class="col-6 border-color-or info footer-info"><span
                                                _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                    class="icon-calandar brun_font buddy-fo"></i> 2017 </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4 col-lg-4 marg-00 marg-b-60 ng-star-inserted">
                        <div _ngcontent-cgl-c4="" id="yacht_elem">
                            <div _ngcontent-cgl-c4="" class="card mb-4 shadow-sm size-elem-boat border-color-or"><a
                                    _ngcontent-cgl-c4="" href="/yachtpurchase/a012p00001HDhY9AAL">
                                    <div _ngcontent-cgl-c4="" class="div-picture">
                                        <div _ngcontent-cgl-c4="" class="overlay">
                                            <h5 _ngcontent-cgl-c4="" class="color-white">See details</h5>
                                        </div><img _ngcontent-cgl-c4="" class="card-img-top img_boat" height="319"
                                            width="100%" alt="photo yacht Ace 1"
                                            src="http://s3-eu-west-1.amazonaws.com/img.prestigiousyachting.com/190af8be-130d-f843-2c5e-5bf78605437d">
                                    </div>
                                </a>
                                <div _ngcontent-cgl-c4="" class="card-body">
                                    <h5 _ngcontent-cgl-c4="" class="card-title text-center title">Ace 1</h5>
                                    <p _ngcontent-cgl-c4="" class="card-text text-center price">€ 1,200,000</p>
                                    <div _ngcontent-cgl-c4="" class="row footer">
                                        <div _ngcontent-cgl-c4="" class="col-6 border-color-or info footer-info"><span
                                                _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                    class="icon-length brun_font"></i> 26m</span></div>
                                        <div _ngcontent-cgl-c4="" class="col-6 border-color-or info footer-info"><span
                                                _ngcontent-cgl-c4=""><i _ngcontent-cgl-c4=""
                                                    class="icon-calandar brun_font buddy-fo"></i> 2006 </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row text-center mx-auto"><span class="center-elem" id="btn-cta2"><a class="btn-draw"
                    href="/purchase"><span>See all yachts for purchase</span></a></span></div>
    </div>
</section>